@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
	/*Added*/
	display: flex;
	flex-direction: column;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
	font-size: 0.9em;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;/*was 400px*/
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 100%;/*was 50px*/
  background-color: #3397DB;
  align-items: center;
	padding: 10px 0;
	margin-top: 320px;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1em;/*was 11pt*/
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
	/*Added*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
	/*Added*/
	max-width: 480px;
  width: 80%;/*Was 270px*/
}
#restaurants-list .restaurant-img {
  background-color: white;/* was #ccc */
  display: block;
	padding-top: 15px;/*Added*/
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 1em;/*was 11pt*/
	/*Added*/
	width: 55%;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside{
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	width: 100%;
}
.inside header {
  /*position: fixed;*/
  top: 0;
  z-index: 1000;
	width: 100%;
}
.inside #footer {
	/*Remove position: absolute*/
  bottom: 0;
  width: 100%;/*was 50%*/
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 310px;/*was 100%*/
  position: relative;
  width: 100%;/*was 50%----*/
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
	margin-top: 219px;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 40px 30px;
	/*Added*/
	display: flex;
	flex-direction: column;
}
#restaurant-container{

}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h3 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
}
#restaurant-hours td {
  color: #666;
	font-size: 1rem;
}

/* ====================== Media Queries ====================== */
/*Working here on fixing reponsiveness at 650, get name on left with image*/
@media screen and (min-width: 650px) {
	#restaurant-container, #reviews-container {
		flex-flow: row wrap;
	}
	#restaurant-name {
		width: 100%;
	}
	#restaurant-img {
		width: 50%;
		height: 40%;
	}
	#restaurant-cuisine {
		width: 50%;
		height: 10%;
		flex-wrap: nowrap;
		order:2;
		margin: 0 0 0;
	}
	#restaurant-address {
		width: 100%;
		height: 10%;
		order: 2;
	}
	#restaurant-hours {
		width: 40%;
    height: 30%;
    order: 1;
    margin-left: 40px;
	}
}
@media screen and (min-width: 800px) {
	#restaurants-list {
		justify-content: space-evenly;
	}
	#restaurants-container {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	#restaurant-container h2 {
		font-size: 2rem;
	}
}
@media screen and (min-width: 900px) {
	#restaurants-list{
		flex-direction: row;
	}
	#maincontent {
		width: 900px;
		margin: 0 auto;
	}
}
